@font-face {
  font-family: 'Sora-Regular';
  src: url('../fonts/sora/Sora-Regular.ttf');
}
@font-face {
  font-family: 'Sora-Bold';
  src: url('../fonts/sora/Sora-Bold.ttf');
}
@font-face {
  font-family: 'Sora-Light';
  src: url('../fonts/sora/Sora-Light.ttf');
}
